<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/> 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-3level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <logger name="org.springframework.web" level="TRACE" />
    <logger name="com.fasterxml.jackson" level="DEBUG"/>
<!--     <logger name="org.springframework.transaction" level="INFO" />
    <logger name="org.springframework.security" level="INFO" /> -->
    <logger name="org.springframework.web.servlet.mvc" level="INFO" /> 
    <logger name="org.springframework.data" level="TRACE" />
   
    <logger name="devcoop" level="DEBUG" />
   
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>